* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: #0d0d0d;
    color: #eaeaea;
    line-height: 1.6;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #111;
    border-bottom: 2px solid #b30000;
}

.navbar h1 {
    color: #b30000;
    text-shadow: 0 0 10px #ffcc00;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #eaeaea;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffcc00;
}

main {
    padding: 30px;
}

.card-info {
    max-width: 800px;
    margin: auto;
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
}

.card-info img {
    width: 100%;
    border-radius: 10px;
    margin: 15px 0;
}

.extra-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.sidebar {
    max-width: 400px;
    background: #141414;
    padding: 20px;
    border-radius: 10px;
}

.extra-article img {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
}


footer {
    margin-top: 40px;
    background: #111;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #b30000;
}

footer h2 {
    color: #ffcc00;
}

footer ul {
    list-style: none;
    margin: 10px 0;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
}

.SocialMedias ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.SocialMedias a {
    color: #eaeaea;
    display: inline-flex;
    transition: 0.3s;
}

.SocialMedias svg {
    width: 30px;
    height: 30px;
}

.SocialMedias a:hover{
    color: #ffcc00;
    transform: scale(1.2);
}

.mapa{
    background: #141414;
    padding: 20px;
    border-radius: 10px;
}

.mapa iframe {
   border-radius: 10px;
   margin-top: 10px;
   border: 2px solid yellow 
}